:root {
  --verydarkmagenta: hsl(300, 43%, 22%);
  --softpink: hsl(333, 80%, 67%);
  --darkgraymagenta: hsl(303, 10%, 53%);
  --lightgraymagenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);

  --xlarge: 3.733rem;
  --large: 2.666rem;
  --mediumlarge: 1.2666rem;
  --medium: 1.13333rem;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  justify-content: flex-start;
  background-image: url(images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}

* {
  font-size: 15px;
  font-family: "League Spartan", sans-serif;
}

h1 {
  color: var(--verydarkmagenta);
  font-size: var(--large);
  font-weight: 700;
  text-align: center;
  margin-top: 0;
}

h2 {
  color: var(--white);
  font-size: var(--medium);
  font-weight: bold; 
  margin: 0rem;
}

.banner {
  background-image: url(images/bg-pattern-top-mobile.svg);
  background-repeat: no-repeat;
  background-position: top left;
}

header {
  padding: 5rem 1.6rem 2.5rem 1.6rem;
  display: flex;
  flex-direction: column;
}

.hero{
  margin-bottom: 1.5rem;
}

.hero-text {
  color: var(--darkgraymagenta);
  font-size: var(--mediumlarge);
  line-height: 1.66rem;
  text-align: center;
}

.stars {
  background-color: var(--lightgraymagenta);
  border: 0 none;
  border-radius: 0.5rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 16rem;
  margin: 1.25rem 0;
}

.accolades {
  padding: 0rem 1.6rem 6rem 1.6rem;
  display: flex;
  flex-direction: column;
}

.stars p {
  font-size: var(--medium);
  color: var(--verydarkmagenta);
  font-weight: bold;
}

.testimonial {
  background-color: var(--verydarkmagenta);
  border: 0 none;
  border-radius: 0.5rem;
  padding: 2rem;
  margin: 0 0 1rem 0;
  display: grid;
  grid-template: 4rem 1fr / 4rem 1fr;
  min-width: 12rem;
}

.testimonial img {
  border-radius: 50%;
}

.author {
  line-height: 1.5rem;
}

.verified {
  color: var(--softpink);
  font-size: var(--medium);
  margin: 0rem;
}

.review {
  color: var(--white);
  font-size: var(--medium);
  line-height: 1.466rem;
  grid-area: 3 / 1 / 4 / span 2;
}

.attribution {
  align-self: center;
  justify-self: flex-end;
}

/* Media queries for desktop */

@media screen and (min-width: 1000px) {
  
  main {
    background-image: url(images/bg-pattern-bottom-desktop.svg);
  }
  .banner {
    background-image: url(images/bg-pattern-top-desktop.svg);
  }
  header {
    flex-direction: row;
    justify-content: space-between;
    padding: 7%;
  }
  .hero {
    margin-right: 10rem;
  }
  .hero-headline, .hero-text {
    text-align: left;
  }
  .hero-stars {
    min-width: 30rem;
  }
  .stars {
    flex-direction: row;
    padding: 0.5rem;
  }
  .five-stars {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .reviews {
    position: relative;
    right: 5rem;
  }
  .testimonial {
    width: 28%;
  }
  .report-guru {
    position: relative;
    right: 2.5rem;
  }
  .besttech {
    position: relative;
  }
  .accolades {
    flex-direction: row;
    padding: 0 7% 7% 7%;
  }
  .testimonial:nth-child(n+1):nth-last-child(n+2) {
    margin-right: 2%;
  }
  .testimonial:nth-child(n+2):nth-last-child(n+2) {
    position: relative;
    top: 1rem;
  }
  .testimonial:nth-child(n+3):nth-last-child(n+1) {
    position: relative;
    top: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: var(--xlarge);
  }
}